<p class="p-comment-container">
  <span><%= comment.author.name %>: </span>
  <%= comment.text %>

  <% if can? :destroy, comment %>
    <%= button_to 'Delete',
      user_post_comment_path(user_id: comment.author.id, post_id: comment.post.id, id: comment.id),
      method: :delete,
      data: {confirm: 'Are you sure?'},
      class: 'btn btn-like'
    %>
  <% end %>
</p>
