<%= render 'partials/user', user: @user %>
<div class="user-container">
  <h2>Bio</h2>
  <p>
    <%= @user.bio %>  
  </p>
</div>
<% if @user.recent_posts.length > 0 %>
  <% @user.recent_posts.each do |post| %>
    <%= render partial: 'partials/posts', locals: { post: post } %>
  <% end %>
  <div class="btn-container">
    <button type="button">
      <%= link_to "See all posts", user_posts_path(@user) %>
    </button>
  </div>
<% end %>
